.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 9999;
}
.title_text1,
.title_text2,
.title_text3 {
  font-family: Apex New;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.09em;
  text-align: center;
}
.title_text1,
.title_text3 {
  color: #fff;
  text-shadow: 1px 1px 4px #f0ebeb;
}
.title_text2 {
  color: #ff0000;
  text-shadow: 1px 1px 4px #772727;
}
