.about {
  padding-top: 20%;
}
.about-title {
  width: 80%;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 50px 60px 65px;
  border: 1px solid #ff0000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.09em;
}
.aboute-title__weight {
  font-weight: 700;
}
.about-title_main-text {
  margin-bottom: 30px;
}
